muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d48e6383-aa92-4320-957e-d333b927be44" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="e95bee78-3755-4956-b380-7367d41b18af" >
		<http:listener doc:name="Listener" doc:id="f2c37969-0005-4cff-83c3-74913d222b4d" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="60b9d78e-1f53-4fbf-8960-37008d58faf3" />
	</flow>
</mule>
